@use 'reset';
@use 'vars';

body {
  background-color:  vars.$background-color;
  font-family: 'Mali', cursive;
  height: 100%;
  font-weight: 500;

  background-image: url("src/assets/images/gdFleur.excalidraw.svg"),
                    url("src/assets/images/triple-gdFleur.excalidraw.svg");
  background-size: 200px, 300px;
  background-repeat: no-repeat;
  background-position:  -5% -80px, 113% -28%;
}

strong{
  font-weight: 500;
}

