@use 'reset';
@use 'vars';

body {
  background-color:  vars.$background-color;
  font-family: 'Mali', cursive;
  height: 100%;
  font-weight: 500;

  @media (min-width: 400px) {
    background-image: vars.$background-image-left;
    background-size: 200px;
    background-repeat: no-repeat;
    background-position:  -1% -1%;
    
  }

  @media (min-width: 700px) {
    background-image: vars.$background-image-left,
                      vars.$background-image-right;
    background-size: 200px, 300px;
    background-repeat: no-repeat;
    background-position:  -1% -1%, 102% -1%;
  }
}

strong{
  font-weight: 500;
}

a{
  margin: 0;
  padding: 0;
}
