@use 'src/styles/vars';

.header {
  color: vars.$orange-color;
  // background-image: url("src/assets/images/gdFleur.excalidraw.svg");
  // background-size: 200px;
  // background-repeat: no-repeat;
  // background-position: -5% -80px;

  &_title{
    font-size: 2.5rem;
    margin: 1rem;
    font-weight: 800;
  }
  
  &_soustitle{
    font-size: 1.2rem;
    margin: 1rem;
  }

  &_progressbar--wrapper{
    background-color: #dfe6e9;
    border: 1px solid vars.$orange-color;
    border-radius: 30px;
    width: 50%;
    margin: 1rem auto;
    height: 34px;
    position: relative;
  }

  &_progressbar{
    background-color: vars.$orange-color;
    padding: 1rem;
    border-radius: 100px;
    width: vars.$progressBarDownload;
    animation: barProgress 10s;
    height: 2rem;
    position: absolute;
  }
}

@keyframes barProgress {
  from {
  width: 5%;
}
to {
  width: vars.$progressBarDownload}
}
