@use 'src/styles/vars';

.header {
  color: vars.$orange-color;

  position: relative;

  &_title{
    font-size: 2.5rem;
    margin: 1rem;
    font-weight: 800;
  }
  
  &_soustitle{
    font-size: 1.2rem;
    margin: 1rem;
  }

  &_progressbar--wrapper{
    background-color: #dfe6e9;
    border: 1px solid vars.$orange-color;
    border-radius: 30px;
    width: 50%;
    margin: 1rem auto;
    height: 34px;
    position: relative;
  }

  &_progressbar{
    background-color: vars.$orange-color;
    padding: 1rem;
    border-radius: 100px;
    width: vars.$progressBarDownload;
    animation: barProgress 10s;
    height: 2rem;
    position: absolute;
  }
}

@keyframes barProgress {
  from {
  width: 5%;
}
to {
  width: vars.$progressBarDownload}
}

.aside{
  border: 1px solid red;
  position: absolute;
  top: 50%;
  color: black;
  padding: 1rem;
  border-radius: 50%;

  &--left{
    border: 1px solid vars.$pastProject-background-color;
    background-color: (rgba(vars.$pastProject-background-color, 0.4));
    color: vars.$pastProject-color;
    left: 8%;
    transform: rotate(-30deg);
    width: 8rem;
    height: 4rem;
  }

  &--right{
    border: 1px solid vars.$futureProject-background-color;
    background-color: (rgba(vars.$futureProject-background-color, 0.4));
    color: vars.$futureProject-color;
    right: 8%;
    transform: rotate(30deg);
    width: 8rem;
    height: 4rem;
  }
}
